version: '3.8'
services:
  cassandra:
    image: cassandra:latest
    container_name: cassandra_db
    ports:
      - "9042:9042"
    environment:
      - CASSANDRA_CLUSTER_NAME=OglasnikCluster
      - CASSANDRA_DC=datacenter1
      - CASSANDRA_ENDPOINT_SNITCH=GossipingPropertyFileSnitch

  redis:
    image: redis:latest
    container_name: redis_db
    ports:
      - "6379:6379"

# Komanda za pokretanje (iz terminala u tom folderu):
# docker-compose up -d